.title {
  font-size: rem(34px);
  font-weight: 900;

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(24px);
  }
}

// you can use this to style the input and label
.label {
  // background-color: var(--mantine-color-blue-light);
}

.input {
  // border: rem(1px) solid var(--mantine-color-violet-filled);
}

.radioChecked {
  // Styles for the radio icon when checked
  .mantine-Radio-input:checked + .mantine-Radio-icon {
    background-color: #1e2c55; // Checked background color
    border-color: #1e2c55; // Checked border color
  }
}

.radioUnchecked {
  // Styles for the radio icon when unchecked
  .mantine-Radio-icon {
    background-color: transparent; // Unchecked background color
    border-color: #cdd3f1; // Unchecked border color
  }
}

.fullHeightNoBorderScroll {
  // margin: "0 30px";
  padding: "10px 30px";
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: none; // Assuming you want to remove any borders
}

.fullHeightNoBorderScroll::-webkit-scrollbar {
  width: 3px; // Adjust the width of the scrollbar
}

.fullHeightNoBorderScroll::-webkit-scrollbar-track {
  background: #f1f1f1; // Color of the track
}

.fullHeightNoBorderScroll::-webkit-scrollbar-thumb {
  background: #888; // Color of the scrollbar thumb
}

.fullHeightNoBorderScroll::-webkit-scrollbar-thumb:hover {
  background: #555; // Color of the scrollbar thumb on hover
}
