/* ButtonProgress.module.css */
.button {
  position: relative;
  transition: background-color 150ms ease;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  background-color: transparent;
  z-index: 0;
}

.label {
  position: relative;
  z-index: 1;
}
